.nav__container {
  box-sizing: border-box;
  padding: 0.25rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav--primary {
  align-items: center;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1200px;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}
.nav--primary::before {
  background-color: $brown;
  box-shadow: none;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  width: 100%;
  z-index: -1;
}

.nav--primary.nav--active::before {
  box-shadow: $box-shadow;
  transform: translateY(0);
}

.nav--active .nav__logo {
  height: 3rem;
  width: 3rem;
}

.nav__links {
  align-items: center;
  display: flex;
  font-weight: bold;
  list-style: none;
  padding: 0;
  width: 100%;
  > *:not(:last-child):not(:first-child) {
    margin-right: 1rem;
  }
  > :nth-child(2) {
    margin-left: auto;
  }
}

.nav__link {
  color: $tan-light;
  font-size: 22px;
  font-weight: bold;
  &:hover,
  &:focus,
  &:visited {
    color: $tan-light;
  }
}

.nav__logo-container {
  margin-right: auto;
}

.nav__logo {
  border-radius: 100%;
  box-shadow: $box-shadow;
  display: inline-block;
  height: 3rem;
  transition: all 0.3s ease;
  width: 3rem;
  > * {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: $breakpoint-md) {
  .nav__container {
    padding: 0.25rem 2rem;
  }
  .nav__logo {
    height: 6rem;
    width: 6rem;
  }
  .nav__links {
    > *:not(:last-child):not(:first-child) {
      margin-right: 1rem;
    }
  }
}
