$font-header: 'Anton', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
$red: #C53827;
$tan: #F8F2CC;
$brown: #25120F;
$white: #FFFFFF;
$background-color: rgba(248, 242, 204, 0.15);
$box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.5);
