$font-header: 'Anton', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
$red: #C53827;
$tan-light: #FFFFF2;
$tan: #F8F2CC;
$brown: #25120F;
$white: #FFFFFF;
$body-background: #F3F1EC;
$box-shadow: 0 2pt 4pt rgba(0, 0, 0, 0.5);
$box-shadow-soft: 0 0 30pt rgba(0, 0, 0, 0.1);
$breakpoint-md: 768px;
$container-width: 1112px;
